<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Clothes detection service</title>

    <script language="javascript" type="text/javascript">
      function ChangePhoto(name, img) {
        img = typeof img !== 'undefined' ? img : "{{ result['original'] }}";
        target = document.getElementById("label");
        target.innerHTML = name;
        target = document.getElementById("photo");
        target.src = img;
      }


    </script>

  </head>
  <body>

    {% from "_formhelpers.html" import render_field %}

    <h1>Clothes detection service</h1>
    <p>Using YOLOv3 detection system </p>
    <h3>Upload an image</h3>
    <div>
      <form id="upload" method=post action={{ url_for('post') }} enctype="multipart/form-data">
        {{ render_field(photo_form.input_photo) }}
        <p><input type="submit"  value="Upload"></p>
      </form>
    </div>

    <hr>

    <div id="result">
      {% if result|length > 0 %}
        <div id="label">original</div>
        <div><img id="photo" src="{{ result['original'] }}" align="left" hspace="10" vspace="10"></div>
        <p>
          <a href="javascript:void(0);" onclick="ChangePhoto('original');">original</a>
          </br>
          {% for name, img in result.items() %}
            {% if name != 'original' %}
              <a href="javascript:void(0);"
                 onclick="ChangePhoto('{{ name }}', '{{ result[ name ] }}');">{{ name }}</a>
              </br>
            {% endif %}
          {% endfor %}
        </p>
      {% endif %}
    </div>
    <div>
      You can use this service by uploading an image from the form above or by sending an HTTP POST request containg your RGB image to this server.
      <br>Example of response (JSON): <br>
      <pre>
[
        {
          'prediction': 'short sleeve top',
          'x1': 326.59112548828125,
          'y1': 86.16320037841797,
          'x2': 558.3987426757812,
          'y2': 340.8053283691406,
          'conf': 0.8724276423454285
        },
        {
          'prediction': 'short sleeve top',
          'x1': 80.88777160644531,
          'y1': 72.31243896484375,
          'x2': 298.983642578125,
          'y2': 344.4746398925781,
          'conf': 0.713964223861694
        }
]
      </pre>
      <style>
        .inline {
        display:inline-block
        }
        table td {
        padding-right: 20px
        }
      </style>
      <pre style="display:inline-block">prediction</pre> : class predicted <br>
      <pre style="display:inline-block">x1, y1, x2, y2</pre> : coordinates of the bounding box <br>
      <pre style="display:inline-block">conf</pre> : confidence interval

      <hr>
      <b>Detection settings</b>
      <table>
        <tr><td>Confidence interval threshold</td><td>{{ options["conf_thres"] }}</td></tr>
        <tr><td>Non-maximum-suppression threshold</td><td>{{ options["nms_thres"] }}</td></tr>
        <tr><td>Size of the batches</td><td>{{ options["batch_size"] }}</td></tr>
        <tr><td>Number of cpu threads to use during batch generation</td><td>{{ options["n_cpu"] }}</td></tr>
        <tr><td>Size of each image dimension</td><td>{{ options["img_size"] }}</td></tr>

      </table>




    </div>

  </body>
</html>
